.imagen {
      display: block;
      width: 100%;           
      margin: 5px;      
      border-radius: 15px;    
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.imagen1{
      display: block;
      width: 100%;           
      margin: 5px;      
      border-radius: 15px;    
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.imagen{
 
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(220, 99, 214, 0.881);
  max-width: 800px;
  margin: auto;
}
.imagen1{
 
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(220, 99, 214, 0.881);
  max-width: 800px;
  margin: auto;
  margin-bottom: 10px;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f6f8f9;
  padding: 20px;
}

form {
  background-color: #58585881;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(220, 99, 214, 0.881);
  max-width: 800px;
  margin: auto;
}

h2 {
  text-align: center;
  color: #101011;
  margin-bottom: 20px;
}

label {
  font-weight: 600;
  margin-top: 10px;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  width: 100%;
}

button.btn {
  background-color: #9c268d;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

button.btn:hover {
  background-color: #5a6268;
  cursor: pointer;
}




.card {
  background-color: #fffefe81;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(220, 99, 214, 0.881);
  max-width: 800px;
  margin: auto;
}
.btn {
  background-color: #9c268d;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}